.card {
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 180px;
    height: 300px;

    border-radius: 10px;

    user-select: none;

    //box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);

    /*&:hover {
        transform: translateY(-50px);
        outline: 3px solid white;
    }*/

    span {
        position: absolute;

        color: white;
        font-weight: 100;
        font-size: 72px;
        line-height: 72px;

        pointer-events: none;
    }

    .topNumber {
        top: 15px;
        left: 20px;

        font-size: 36px;
        line-height: 36px;

        pointer-events: none;
    }

    .bottomNumber {
        bottom: 10px;
        right: 15px;

        font-size: 36px;
        line-height: 36px;

        transform: rotate(180deg);

        pointer-events: none;
    }

    img {
        position: absolute;

        height: 62px;

        pointer-events: none;
    }

    .topImage {
        top: 20px;
        left: 20px;

        height: 30px;

        pointer-events: none;
    }

    .bottomImage {
        bottom: 20px;
        right: 20px;

        height: 30px;

        pointer-events: none;
    }
}