.createUserContainer {
    display: flex;
    flex-direction: column;

    h4 {
        color: rgba(0,0,0,0.4);
    }

    canvas {
        width: 250px;
        height: 250px;

        border: 1px solid black;
    }

    input {
        text-align: center;
    }
}