.frontPageUiContainer {
    display: flex;
    flex-direction: column;

    span {
        position: relative;

        &:before {
            position: absolute;
            left: 22px;
            top: 13px;

            content: ' ';
            background: black;
            width: 50px;
            height: 1px;
            display: block;
        }

        &:after {
            position: absolute;
            left: 100px;
            top: 13px;

            content: ' ';
            background: black;
            width: 50px;
            height: 1px;
            display: block;
        }
    }

    input {
        text-align: center;
    }
}